{% form 'product', product, id: form_id, class: 'product-single__form' %}
  {%- assign enable_dynamic_buttons = false -%}
  {% if show_dynamic_checkout and template != 'product.preorder' %}
    {%- assign enable_dynamic_buttons = true -%}
  {% endif %}

  {% if enable_dynamic_buttons %}
    <div class="payment-buttons">
  {% endif %}

    {%- liquid
      assign default_text = 'products.product.add_to_cart' | t
      assign button_text = 'products.product.add_to_cart' | t
      if template == 'product.preorder'
        assign default_text = 'products.product.preorder' | t
        assign button_text = 'products.product.preorder' | t
      endif
      unless current_variant.available
        assign button_text = 'products.product.sold_out' | t
      endunless
    -%}

    <button
      {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
      name="add"
      data-add-to-cart
      class="btn btn--full add-to-cart{% if enable_dynamic_buttons and product.selling_plan_groups.size == 0 %} add-to-cart--secondary{% endif %}"
      {% unless current_variant.available %} disabled="disabled"{% endunless %}>
      <span data-add-to-cart-text data-default-text="{{ default_text }}">
        {{ button_text }}
      </span>
    </button>

    {% if enable_dynamic_buttons %}
      {{ form | payment_button }}
    {% endif %}

        {% comment %}
        Füge einen Extra-Button für alle Produkte hinzu, die gemietet werden können.
        {% endcomment %}
        {% if product.tags contains 'Jackets' %}
        <a href="/pages/mietservice-anfrage?product={{product.title}}&size={{current_variant.option1}}&color={{current_variant.option2}}"
          class="btn btn--full rent-button js-rental-link" data-product-title="{{product.title}}" target="_blank">
          <span>
            Miete mich
          </span>
        </a>
        
        <script>
          // monitor all input fields for changes. if so, the URL is updated with the current variant ID
          // this is then parsed into the href of the 'Rent' Button
          var inputs = document.querySelectorAll('input');
          inputs.forEach(input => {
            // see which fields are initially checked and set the url accordingly
            if (input.checked) {
              if (typeof input.dataset.colorName !== 'undefined') {
                window.color = input.dataset.colorName;
              } else {
                window.size = input.value;
              }
            }
            input.addEventListener('change', updateRentalLink);
          });
          var rentalLink = document.querySelector('.js-rental-link');
          rentalLink.href = "/pages/mietservice-anfrage?product=" + rentalLink.dataset.productTitle + "&size=" + window.size + "&color=" + window.color;

          // whenever another variant is picked the link gets updated
          function updateRentalLink(ev) {
            if (typeof ev.target.dataset.colorName !== 'undefined') {
              window.color = ev.target.dataset.colorName;
            } else {
              window.size = ev.target.value;
            }
            var rentalLink = document.querySelector('.js-rental-link');
            variant = new URLSearchParams(window.location.search).get('variant');
            rentalLink.href = "/pages/mietservice-anfrage?product=" + rentalLink.dataset.productTitle + "&size=" + window.size + "&color=" + window.color;
          }
        </script>
        {% endif %}

  {% if enable_dynamic_buttons %}
    </div>
  {% endif %}

  <div class="shopify-payment-terms product__policies">{{ form | payment_terms }}</div>

  <select name="id" data-product-select class="product-single__variants no-js">
    {%- for variant in product.variants -%}
      {% if variant.available %}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {%- endfor -%}
  </select>

  <textarea data-variant-json class="hide" aria-hidden="true" aria-label="Product JSON">
    {{ product.variants | json }}
  </textarea>
  {% if product.options.size > 1 %}
    <textarea data-current-variant-json class="hide" aria-hidden="true" aria-label="Variant JSON">
      {{ current_variant | json }}
    </textarea>
    <script type="text/javascript">
var _learnq = _learnq || [];
  var classname = document.getElementsByClassName("btn btn--full add-to-cart add-to-cart--secondary");
var addToCart = function() {
_learnq.push(['track', 'Added to Cart', item]);
}; for (var i = 0; i < classname.length; i++) {
classname[i].addEventListener('click', addToCart, false);
}
</script>
  {% endif %}
{% endform %}
