{%- style -%}
  .newsletter-{{ section.id }} {
    background-color: {{ section.settings.color_background }};
    color: {{ section.settings.color_text }};
  }

  .newsletter-{{ section.id }} .input-group-btn {
    background-color: {{ section.settings.color_background }};
  }
{%- endstyle -%}

<div class="newsletter-section newsletter-{{ section.id }}{% if section.settings.color_background == settings.color_body_bg %} newsletter-section--with-divider{% endif %}">
  <div class="page-width text-center">
    {%- for block in section.blocks -%}
      <div class="theme-block" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'title' -%}
            {%- if block.settings.icon_enable or block.settings.title != blank -%}
              {%- if block.settings.icon_enable -%}
                <span class="icon icon-email" role="presentation">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-email" viewBox="0 0 64 64"><path d="M63 52H1V12h62zM1 12l25.68 24h9.72L63 12M21.82 31.68L1.56 51.16m60.78.78L41.27 31.68"/></svg>
                </span>
              {%- endif -%}
              {%- if block.settings.title != blank -%}
                <h2 class="h3">{{ block.settings.title | escape }}</h2>
              {% endif %}
            {% endif %}
          {%- when 'text' -%}
            {% if block.settings.text != blank %}
              <div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {% endif %}
          {%- when 'form' -%}
            {%- render 'newsletter-form', section_id: section.id, snippet_context: 'section' -%}
          {%- when 'share_buttons' -%}
            {%- render 'social-sharing' -%}
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "Email signup",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Sign up and save"
          },
          {
            "type": "checkbox",
            "id": "icon_enable",
            "label": "Show mail icon",
            "default": true
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals.</p>"
          }
        ]
      },
      {
        "type": "form",
        "name": "Form",
        "limit": 1
      },
      {
        "type": "share_buttons",
        "name": "Share buttons",
        "limit": 1
      }
    ],
    "settings": [
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the 'accepts marketing' [customer list](/admin/customers?query=&accepts_marketing=1)."
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background",
        "default": "#f9f9f9"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#1c1d1d"
      }
    ],
    "presets": [
      {
        "name": "Email signup",
        "blocks": [
          {
            "type": "title"
          },
          {
            "type": "text"
          },
          {
            "type": "form"
          }
        ]
      }
    ]
  }
{% endschema %}
